html,
body {
  margin: 0;
}

body,
#root {
  min-width: 340px;
  background: #070707;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
